---
layout: page
title: Release Map
---
<body class="theme-base-0c">
  <div class="lists">
    <h2 class="header">
      TODO:
    </h2>
    <div class="item">
      <input type="checkbox" disabled checked> Models and training datasets for S2PRM <a href="https://huggingface.co/Lux0926">Huggingface</a>.
    </div>

    <div class="item">
      <input type="checkbox" disabled checked> Training and evaluation code (including PGI code), scripts for S2PRM <a href="https://huggingface.co/Lux0926">Github</a>.
    </div>

    <div class="item">
      <input type="checkbox" disabled> Data construction code Coming Soon</a>.
    </div>

    <div class="item">
      <input type="checkbox" disabled> PPO, DPO code and scripts Coming Soon</a>.
    </div>
    
  </div>
    
    <!-- <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
      {% else %}
        <span class="pagination-item older">Older</span>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
        {% else %}
          <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <span class="pagination-item newer">Newer</span>
      {% endif %}
    </div> -->
  <body>

<style>
  .lists{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    align-content: flex-start;
  }
  .item{
    word-wrap: break-word;
  }
  .header{
    border-bottom: 1px solid #ccc;
  }
</style>
