---
layout: page
title: Release
---
<body class="theme-base-0c">
  <div class="lists">
    <div class="item">
      &bull;[2024/07] Come to see <a href="#">github</a>.
    </div>
    
  </div>
    
    <!-- <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
      {% else %}
        <span class="pagination-item older">Older</span>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
        {% else %}
          <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <span class="pagination-item newer">Newer</span>
      {% endif %}
    </div> -->
  <body>

<style>
  .lists{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    align-content: flex-start;
  }
  .item{
    word-wrap: break-word;
  }
</style>
